.main-scoreboard {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__scoreboard {
        flex: 1;
        border: 2px red solid;

        padding: 20px;

        &__board {
            background-color: var(--clr-primary-100);
            color: var(--clr-white);
            padding: var(--padding);
            height: 100%;
            // width: 95%;
            // margin-inline: auto;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
        }
    }

    &__table {
        flex: 2.5;
        border: 2px solid orange;
        padding: 10px;
        overflow-y: auto;
        // width: 100%;

        table {
            // border: 2px solid cadetblue;
            width: 100%;

            border-collapse: collapse;
            // margin: 25px 0;
            font-size: 0.8em;
            // font-family: sans-serif;
            // min-width: 400px;
            width: max(200px, 100%);
            // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

            thead tr {
                // background-color: #009879;
                color: var(--clr-seperator);
                text-align: left;
            }

            th,
            td {
                padding: 10px 12px;
            }

            tbody tr {
                background-color: #eee;

                &:last-child {
                    margin-top: 10px !important;
                    background-color: red;
                }
            }
        }
    }

    // responsive
    @media (max-width: 700px) {
        background-color: white;

        &__scoreboard {
            // background: red;
            padding: 10px;

            &__board {
            }
        }

        &__table {
            table {
                font-size: 0.6em;

                tbody tr {
                    > :nth-child(2) {
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        // border: 2px solid;

                        .img {
                            width: var(--size-sm);
                            // border: 2px solid;
                            border-radius: 50%;

                            overflow: hidden;
                            img {
                                scale: 1.2;
                            }
                        }
                    }
                    // background-color: red;

                    td {
                        // display: flex;
                    }
                }
            }
        }

        // padding: 10px;

        table td:nth-child(3),
        table thead :nth-child(3),
        table td:nth-child(4),
        table thead :nth-child(4) {
            display: none;
        }
    }
}
