header.header {
    height: 50px;
    width: 100%;

    // Mobile Version
    .mobile-header-controls {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: calc(var(--padding) * 2);
        > div > * {
            color: var(--clr-white);
            cursor: pointer;
        }

        @media (max-width: 700px) {
            display: flex;
        }
    }

    // Desktop Version
}

.mobile-menus {
    pointer-events: none;
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
}

// Mobile Menus
.header-menu {
    // width: clamp(450px, calc(100% - 200px), 80%);
    pointer-events: all;
    width: min(300px, 80%);
    height: 100%;
    z-index: 22;
    position: absolute;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--clr-white);
    transition: left var(--transition-duration), right var(--transition-duration);

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }
}

// Mobile Sidebar
.sidebar-menu {
    left: -100%;
    display: flex;
    flex-direction: column;
    &--opened {
        left: 0;
        box-shadow: var(--box-shadow-ds), var(--box-shadow);
    }

    &__logobox {
        // border: red 2px solid;
        display: flex;
        align-items: center;
        // height: 15%;
        padding: 30px 10px;

        &__img {
            width: var(--size-med);
            height: var(--size-med);
            border-radius: 10px;
            overflow: hidden;
            margin-right: 10px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        &__textbox {
            display: flex;
            flex-direction: column;

            & span:nth-child(1) {
                font-weight: bold;
            }

            & span:nth-child(2) {
                font-size: 0.8rem;
            }
        }
    }

    hr {
        margin-inline: 10px;
    }

    &__menu {
        padding: 10px;
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        > li a {
            display: flex;
            border-radius: 8px;
            align-items: center;

            &:hover {
                background-color: #cccccc;
            }

            > i {
                width: var(--size-med);
                height: var(--size-med);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }

            & > span {
                display: flex;
                flex-grow: 1;

                & i {
                    margin: 0 10px 0 auto;
                }
            }
        }
    }

    &__sub-menu {
        margin: 5px 0;
        display: none;

        border: 2px solid;

        &--opened {
            display: block;
        }

        .border {
            border-left: 1px solid;
            margin-left: calc(var(--size-med) / 2);
        }

        li a {
            display: flex;
            align-items: center;
            border-radius: calc(8px / 2);
            margin: 0 calc(var(--size-med) / 4);
            min-width: calc(var(--size-med) - 10px);
            height: calc(var(--size-med) - 10px);
            padding-left: 10px;

            &:hover {
                background-color: #cccccc;
            }
        }
    }
}

// Mobile Navbar
.navbar-menu {
    right: -100%;

    hr {
        &.inner-seperator {
            width: 100%;
            opacity: 0.2;
            // margin: 5px auto;
        }

        &.outer-seperator {
            width: 95%;
            opacity: 0.4;
            margin: 10px auto;
        }
    }

    // Styles
    &__details {
        padding-top: 10px;
        text-align: center;

        &__img {
            border: 4px solid;
            display: flex;
            margin-inline: auto;
            border-radius: 50%;
            overflow: hidden;
            width: 40%;

            img {
                scale: 1.5;
            }
        }

        &__name {
            margin-top: 10px;
            font-size: 1rem;
        }

        &__id {
            font-size: 0.8rem;
            font-weight: 400;
            opacity: 0.5;
            margin-bottom: 10px;
        }

        &__btn {
            padding: calc(var(--padding) / 2) calc(var(--padding) * 2);
            border: none;
            background-color: var(--clr-primary-100);
            color: var(--clr-white);
            border-radius: var(--border-raduis-sm);
            outline: none;
        }
    }

    &__controls {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-inline: 10px;
        gap: 5px;

        > li a {
            display: flex;
            align-items: center;
            border-radius: 5px;

            > i {
                height: var(--size-sm);
                width: var(--size-sm);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 10px;
            }

            & > span {
                display: flex;
                flex-grow: 1;

                & i {
                    margin: 0 10px 0 auto;
                }
            }
        }
    }

    &__version {
        position: absolute;
        bottom: 10px;
        left: 50%;
        translate: -50% 0;
        white-space: nowrap;
        font-size: 0.6rem;
        opacity: 0.5;
    }

    &--opened {
        right: 0;
        box-shadow: var(--box-shadow-ds), var(--box-shadow);
    }
}

.activity-center {
    z-index: 999;
    .term-timing {
        font-size: 0.8rem;
        color: var(--clr-white);
        opacity: 0.1;
    }

    & .mobile-content {
        display: none;
    }

    &--active {
    }

    @media (max-width: 700px) {
        // width: 400px;
        // when closed
        & .mobile-content {
            display: none;

            & * {
                white-space: nowrap;
                flex-shrink: 0;
            }
        }

        &--active {
            // when opened
            overflow: hidden;

            & .mobile-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: calc(var(--padding) * 2);
                gap: var(--gap);
                width: 100%;
                height: 100%;

                > * {
                    width: 100%;
                    // border: 2px solid red;
                }

                &__hotkeys {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--gap);

                    > i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--border-raduis-xmed);
                        width: var(--size-xmed);
                        height: var(--size-xmed);
                        background-color: var(--clr-primary-100);
                        color: var(--clr-white);
                        font-size: 1.1rem;
                    }
                }

                &__btn {
                    padding: 10px 0;
                    background-color: var(--clr-primary-100);
                    color: var(--clr-white);
                    border-radius: var(--border-raduis-xmed);
                }

                &__uploaded-btn {
                    background-color: transparent;
                    display: flex;
                    gap: var(--gap);
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-size: 0.8rem;
                }

                &__uploaded-files {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--gap) / 2);

                    li {
                        width: 100%;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        border-radius: 5px;

                        img {
                            width: var(--size-sm);
                            height: var(--size-sm);
                        }

                        span {
                            margin-left: 10px;
                        }

                        i {
                            margin: 0 10px 0 auto;
                        }
                    }
                }
            }
            //code here
        }
    }
}

.header {
    &__box {
        // border: 2px solid red;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding-right: 10px;
        gap: 10px;

        & > button {
            border: 1px solid transparent;

            &:hover {
                // opacity: 0.8;
                border: 1px solid var(--clr-primary-100);
            }
        }

        &__profile {
            height: 40px;
            background-color: var(--clr-secondary-100);
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 0 10px 0 0;
            gap: 10px;

            position: relative;

            img {
                border-radius: 10px;
            }

            &__menu {
            }
        }

        &__streaks__menu,
        &__profile__menu,
        &__notification__menu {
            z-index: 32;
            position: absolute;
            display: none;
            border-radius: 10px;
            box-shadow: var(--box-shadow);

            li {
                width: 100%;

                a {
                    width: 100%;
                    display: flex;
                    border-radius: 10px;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;

                    i {
                        width: var(--size-sm);
                        height: var(--size-sm);
                        // background-color: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover {
                        background-color: var(--clr-secondary-100);
                    }
                }
            }

            .signout-btn {
                width: 100%;
                margin-top: 10px;
                background-color: var(--clr-primary-100);
                color: var(--clr-white);
                border-radius: 5px;
                padding: 5px;
            }

            &--opened {
                top: 120%;
                right: 0;
                border: 2px solid var(--clr-primary-100);
                width: 200px;
                min-height: 100px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
            }
        }

        &__streaks,
        &__notification {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--size-med);
            width: var(--size-med);
            background-color: var(--clr-secondary-100);
            border-radius: 10px;
        }

        &__streaks {
            &__menu {
            }
        }
    }

    @media (max-width: 700px) {
        &__box {
            display: none;
        }
    }
}
